.profile {
   padding: 30px 0;
}

.profile__form {
   display: flex;
   flex-direction: column;
   align-items: center;

}

.profile__title {
   font-weight: 500;
   font-size: 24px;
   line-height: 1.2em;
   color: #fff;
   margin-bottom: 100px;
}

.profile__wrapper {
   display: flex;
   justify-content: space-between;
   max-width: 410px;
   width: 100%;
   padding: 9px 0;
}

.profile__wrapper:first-of-type {
   border-bottom: 1px solid #424242;
}

.profile__wrapper:last-of-type {
   margin-bottom: 195px;
}

.profile__text {
   font-weight: 500;
   font-size: 11px;
   line-height: 1.2em;
   color: #fff;
}

.profile__input {
   font-weight: 400;
   font-size: 11px;
   line-height: 1.2em;
   color: #fff;
   background-color: transparent;
   border: none;
   text-align: end;
}

.profile__button-edit {
   background-color: transparent;
   outline: none;
   border: none;
   font-weight: 400;
   font-size: 13px;
   line-height: 1.2em;
   color: #fff;
   cursor: pointer;
   margin-bottom: 12px;
}

.profile__button-exit {
   background-color: transparent;
   outline: none;
   border: none;
   font-weight: 400;
   font-size: 13px;
   line-height: 1.2em;
   color: #EE3465;
   cursor: pointer;
   padding: 5px;
}