.promo {
   padding: 0 40px;
}

.promo__wrapper {
   width: 100%;
   height: 493px;
   border-radius: 10px;
   background-color: #272727;
   margin: 0 auto;
}

.promo__title {
   position: relative;
   max-width: 730px;
   text-align: center;
   margin: 0 auto;
   top: 32%;
   text-align: center;
   font-weight: 400;
   font-size: 48px;
   line-height: 1.3em;
   color: #FFF;
}

@media all and (max-width: 900px) {
   .promo {
      padding: 0 20px;
   }

   .promo__wrapper {
      height: 834px;
   }

   .promo__title {
      max-width: 680px;
      font-size: 38px;
      top: 42%;
   }
}

@media all and (max-width: 640px) {
   .promo__title {
      max-width: 420px;
      font-size: 32px;
      top: 42%;
   }
}

@media all and (max-width: 480px) {
   .promo {
      padding: 0 14px;
   }

   .promo__wrapper {
      height: 586px;
   }

   .promo__title {
      max-width: 292px;
      font-size: 27px;
      top: 37%;
   }
}