.search-form__content {
   display: flex;
   gap: 10px;
}

.search-form__input {
   width: 100%;
   padding: 14px 30px;
   border-radius: 8px;
   border: none;
   outline: none;
   color: #fff;
   background-color: #2F2F2F;
}

.search-form__input:focus {
   width: 90%;
   outline: 1px solid #424242;
   box-shadow: 0px 2px 10px 2px rgba(112, 130, 153, 0.507);
   border-radius: 15px;
}

.search-form__button {
   padding: 22px;
   outline: none;
   border: none;
   cursor: pointer;
   background: transparent url('../../images/search_button.svg') center center / 45px no-repeat;
   transition: .3s;
}

.search-form__button:hover {
   box-shadow: 0px 2px 10px 8px rgba(66, 122, 196, 0.507);
   border-radius: 8px;
}

.search-form__button:active {
   opacity: .8;
   transform: scale(0.95);
}

@media all and (max-width: 480px) {
   .search-form__input {
      padding: 14px 14px;
   }
}

.search-form__error {
   visibility: hidden;
   font-weight: 400;
   font-size: 10px;
   line-height: 1.2em;
   color: #EE3465;
   margin: 7px 0;
}

.search-form_active {
   visibility: visible;
}

