.search-form__content {
   display: flex;
   gap: 10px;
}

.search-form__input {
   width: 100%;
   padding: 14px 30px;
   border-radius: 16px;
   border: none;
   outline: none;
   color: #fff;
   background-color: #2F2F2F;
}

.search-form__button {
   padding: 22px;
   outline: none;
   border: none;
   cursor: pointer;
   background: transparent url('../../images/search_button.svg') center center / 45px no-repeat;
   transition: .3s;
}

.search-form__button:hover {
   box-shadow: 0px 2px 10px 5px rgba(66, 122, 196, 0.507);
   border-radius: 8px;
}

@media all and (max-width: 480px) {
   .search-form__input {
      padding: 14px 14px;
   }
}