.saved-movies {
   padding: 60px 70px;
}

@media all and (max-width: 900px) {
   .saved-movies {
      padding: 60px 30px 80px;
   }
}

@media all and (max-width: 480px) {
   .saved-movies {
      padding: 58px 14px 100px;
   }
}