.header {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 17px 70px  37px;
}

.header__logo {
   width: 38px;
   height: 38px;
}

.header__logo-link {
   transition: .3s;
}

.header__logo-link:hover {
   transform: scale(1.1);
}

.header__auth-link {
   display: flex;
   margin: 0 0 0 auto;
}

.header__auth {
   display: flex;
   justify-content: center;
   align-items: center;
   height: 32px;
   width: 76px;
   font-weight: 500;
   font-size: 12px;
   line-height: 1.3em;
   color: #FFF;
   text-decoration: none;
   transition: .3s;
}

.header__auth:hover {
   opacity: .7;
}

.header__auth_color {
   border-radius: 3px;
   background-color: #3DDC84;
   color: #000;
   margin-left: 30px;
}