.register {
   padding: 70px 0;
}

.register__form {
   max-width: 396px;
   margin: 0 auto;
}

.register__form-logo {
   width: 38px;
   height: 38px;
   transition: .3s;
}

.register__form-logo:active {
   transform: scale(0.95);
}

.register__title {
   font-weight: 500;
   font-size: 24px;
   line-height: 1.2em;
   color: #fff;
   margin: 40px 0;
}

.register__container {
   margin-bottom: 74px;
}

.register__text {
   font-weight: 400;
   font-size: 10px;
   line-height: 1.2em;
   color: #8B8B8B;
   margin: 7px 0
}

.register__input {
   box-sizing: border-box;
   width: 100%;
   padding: 14px;
   font-weight: 400;
   font-size: 13px;
   line-height: 1.2em;
   color: #fff;
   outline: none;
   border: none;
   border-radius: 8px;
   background-color: #2F2F2F;
}

.register__error {
   font-weight: 400;
   font-size: 10px;
   line-height: 1.2em;
   color: #EE3465;
   margin: 7px 0
}

.register__button {
   width: 100%;
   height: 45px;
   font-weight: 500;
   font-size: 14px;
   line-height: 1.2em;
   color: #fff;
   background-color: #4285F4;
   border-radius: 3px;
   outline: none;
   border: none;
   transition: .3s;
}

.register__button:hover {
   box-shadow: 0px 0px 10px 4px rgba(66, 122, 196, 0.507);
   background-color: #4285F4;
   transform: translate(0, -2px);
}

.register__button:active {
   transform: scale(0.95);
   box-shadow: 0px 0px 8px 8px rgba(66, 122, 196, 0.507);
}

.register__link-text {
   text-align: center;
   font-weight: 400;
   font-size: 14px;
   line-height: 1.2em;
   color: #8B8B8B;
}

.register__link {
   text-decoration: none;
   transition: .3s;
}

.register__link:last-child {
   margin-left: 10px;
   color: #4285F4;
   text-decoration: none;
   transition: .3s;
}

.register__link:hover {
   opacity: .8;
   text-decoration: underline;
}

@media all and (max-width: 900px) {
   .register {
      margin-top: 21%;
   }
}

@media all and (max-width: 480px) {
   .register {
      padding: 56px 0;
      margin-top: 0;
   }

   .register__form {
      max-width: 260px;
      text-align: center;
   }

   .register__item {
      text-align: start;
   }

   .register__title {
      margin-top: 48px;
      margin-bottom: 80px;
   }

   .register__container {
      margin-bottom: 162px;
   }

   .register__link-text {
      font-size: 12px;
   }
}