.about-me {
   padding: 100px 70px 0;
}

.about-me__title {
   font-weight: 400;
   font-size: 22px;
   line-height: 1.3em;
   color: #FFF;
   padding-bottom: 23px;
   margin-bottom: 66px;
   border-bottom: 1px solid #DADADA;
}

.about-me__container {
   display: flex;
   justify-content: space-between;
}

.about-me__wrapper-info {
   max-width: 600px;
}

.about-me__name {
   font-weight: 400;
   font-size: 50px;
   line-height: 1.2em;
   color: #FFF;
   margin: 0 0 18px;
}

.about-me__job {
   font-weight: 500;
   font-size: 18px;
   line-height: 1.2em;
   color: #FFF;
   margin: 0 0 20px;
}

.about-me__description {
   font-weight: 400;
   font-size: 14px;
   line-height: 1.4em;
   color: #FFF;
   margin-bottom: 100px;
}

.about-me__links {
   display: flex;
   list-style: none;
   gap: 10px;
   padding: 0;
}

.about-me__link {
   font-weight: 500;
   font-size: 14px;
   line-height: 1.2em;
   color: #FFF;
   text-decoration: none;
   transition: 0.3s;
}

.about-me__link:hover {
   text-decoration: underline;
   opacity: 0.7;
}

.about-me__image {
   display: block;
   max-width: 270px;
   max-height: 327px;
   width: 100%;
   object-fit: cover;
   border-radius: 10px;
}

@media all and (max-width: 900px) {
   .about-me {
      padding: 85px 50px 0;
   }

   .about-me__name {
      font-size: 40px;
      margin-bottom: 10px;
   }

   .about-me__job {
      font-size: 12px;
   }

   .about-me__description {
      font-size: 12px;
      margin-bottom: 87px;
   }

   .about-me__image {
      max-width: 255px;
      max-height: 307px;
   }
}

@media all and (max-width: 480px) {
   .about-me {
      padding: 48px 14px 0;
   }

   .about-me__container {
      flex-direction: column-reverse;
   }

   .about-me__title {
      font-size: 18px;
      margin-bottom: 60px;
   }

   .about-me__image {
      max-width: 292px;
      max-height: 352px;
      margin-bottom: 40px;
   }

   .about-me__name {
      font-size: 30px;
      margin-bottom: 20px;
   }

   .about-me__description {
      margin-bottom: 0;
   }
}