.navtab {
   margin-top: -85px;
}

.navtab__lists {
   display: flex;
   justify-content: center;
   padding: 0;
}

.navtab__list {
   list-style: none;
   padding: 10px 17px;
   margin-right: 10px;
   border-radius: 10px;
   background-color: #303030;
   transition: 0.5s;
}

.navtab__list:hover {
   box-shadow: 0px 8px 10px 0px rgba(23, 122, 101, 0.2);
   background-color: #3DDC84;
   transform: translate(0, -2px);
}

.navtab__link {
   font-weight: 500;
   font-size: 12px;
   line-height: 1.3em;
   color: #FFF;
   text-decoration: none;
}